 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Motorcycle Maintenance Repair</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="../../assets/css/custom.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  
    <div class="navbar navbar-light navbar-static-top">
      <div class="container">
          <div class="navbar-header">
   
           <a href="index.html" class="navbar-brand navhead" ><span><img src="../../assets/img/motor.png" width="30"></span><b  style=" font-size: 20px;">MOTORCYCLE MAINTENANCE</b></a>
          </div>

      

      </div>
    </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-sm-3 ">      
              <div class="sidenav  navbar-collapse"> 
                <ul class="nav flex-column">
                  <div class="list-group">
                    <a class="list-group-item color" href="../../index.html">&nbsp; <b>MAIN MENU</b></a>
                   
                  <a class="list-group-item color" href="../quickfix.html">&nbsp; <b>QUICKFIX</b></a>
                   <a class="list-group-item color" href="../maintenance.html">&nbsp; <b>MAINTENANCE</b></a>
                      <a class="list-group-item color" href="../video.html">&nbsp; <b>VIDEO TURORIAL</b></a>     
                </div>
              </ul>
            </div>
          </div>
      

            <div class="col-md-9  col-xs-9">
                
               <div class="panel panel-default">
      <div class="panel panel-heading" style="text-align: center;"><h3><b>STREET CLUTCH</b></h3></div>
      <div class="panel-body">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
             <div class="carousel-inner">
          <div class="item active">
            <img class="center" src="../../assets/img/underbone1.jpg"  style="width:50%;">
          </div>

          <div class="item">
            <img class="center" src="../../assets/img/underbone2.jpg"  style="width:50%;">
          </div>
        
          <div class="item">
            <img class="center" src="../../assets/img/underbone3.jpg"   style="width:50%;">
          </div>

          <div class="item">
            <img class="center" src="../../assets/img/underbone4.jpg"  style="width:50%;">
          </div>
        
        </div>



    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
  
     <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">HOW TO'S</button>
</p>
<div class="row">

  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
       <div class="btn-group">
      <a class="btn btn-default" href="throttle.html"><img src="../../assets/img/throttle.png" width="100"><br>Throttle</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="chain.html"><img src="../../assets/img/chain.png" width="100"><br>Wiring</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="clutch.html"><img src="../../assets/img/clutch.png" width="100"br ><br>Clutch</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="carburetor.html"><img src="../../assets/img/tuneup.png" width="100"><br>Carburetor</a>
      </div>
    </div>
  </div>
</div>




 
  <img class="center" src="../../assets/img/clutch.jpg" style="object-fit: cover; height: 70%; width: 100%;">
        <b>How to Adjust a Motorcycle Clutch</b>
        <p>The clutch is the part of an engine that controls the power transition. A common, uncomplicated type of clutch is a clutch that works with either the drive shaft or the line shaft. A motorcycle clutch typically uses what is known as a wet clutch system. In such a system, plain steel and friction plates work in tandem to control the crank shaft. Needless to say, a properly operating clutch is an essential component of any automobile, be it a car, truck, sport utility vehicle, or motorcycle.</p>

        <p>If your motorcycle clutch is not working right, at best your ride isn’t as easy as you’d like, and at worst you could be in serious danger when you ride. If you are experiencing a problem when shifting gears, stickiness, or grinding, then it may be time for a motorcycle clutch adjustment. Continue reading for advice on adjusting your motorcycle clutch.</p>

          <b>Step 1 - Secure the Bike</b>
<p>It is important to place the motorcycle in a safe position. Place the bike on its center stand. Make sure it is secure to prevent it from toppling or falling over. This can be a source of serious injuries.</p>

<p>Use pliers or wrenches to remove brake calipers from the disk.</p>

<b>Step 2 – Take off Brake Fluid</b>
<p>Align the handlebars so that the main cylinder is balanced and level. It is advisable to use suitable material to cover the outer surface of the bike. Brake fluid easily damages paint jobs on such surfaces.</p>

<b>Step 3 – Pump</b>
<p>Remove the top cover on the brake fluid reservoir. Take a look and makes sure it is filled with fluid. Place the old bucket beneath the caliper and pump until the piston comes out. Watch out that the reservoir is filled up at all times. Add more brake fluid if necessary.</p>

<p>A G-clamp can be used to secure one piston if there are two of them. Keep alternating the G-clamp between the two pistons while keeping up with the pumping. This makes it easy to remove them. This process drains old brake fluid.</p>

<b>Step 4 – Bleed Brakes</b>
<p>Put the caliper and pistons back in place. Use brake fluid for lubrication. Get brake fluid and put sufficient quantities in the master cylinder. Take one end of a hose and place it on the bleed cover. Place the other end in a bucket.</p>

<p>Pump brake handles continuously for a few minutes. On the caliper, carefully open the bleed screw to let out fluid mixed with air. Return the screw and continue pumping for a few minutes. This should be repeated several times until there is no air out of the brake fluid.</p>

<p>It is advisable to tap the hose and bleed screw to help get rid of bubbles during bleeding. The setting can be left to stay overnight. Continue with the procedure by continuous pumping and checking how air is expelled from brake fluid.</p>

<p>Bleeding brakes manually might require a great deal of patience.</p>

<b>Step 5 – Clean Up</b>
<p>Use water to clean up any traces of brake fluid on the bike and the work area.</p>

<b>Tips</b>
<p>Try to use tools that guarantee success when bleeding motorcycle brakes. This includes pressurized brake bleeders, vacuum bleeding kits,
Watch out for brake fluids as it can easily ruin the bike’s paint job</p>
  <br>
  
       <B >Clutch</B> 
	<p >Stock Cable – Release the clutch cable and apply gasoline with oil</p>
 	<p >Cable Wire / Wear / Damage / Replace</p>



    </div>
    </div>



            </div>
          </div>
      </div>



</body>
</html>      

