 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Motorcycle Maintenance Repair</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="../../assets/css/custom.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  
    <div class="navbar navbar-light navbar-static-top">
      <div class="container">
          <div class="navbar-header">
   
           <a href="index.html" class="navbar-brand navhead" ><span><img src="../../assets/img/motor.png" width="30"></span><b  style=" font-size: 20px;">&nbsp;MOTORCYCLE MAINTENANCE</b></a>
          </div>

      

      </div>
    </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-sm-3 ">      
              <div class="sidenav  navbar-collapse"> 
                <ul class="nav flex-column">
                  <div class="list-group">
                  <a class="list-group-item color" href="../../index.html">&nbsp; <b>MAIN MENU</b></a>
                   
                  <a class="list-group-item color" href="../quickfix.html">&nbsp; <b>QUICKFIX</b></a>
                   <a class="list-group-item color" href="../maintenance.html">&nbsp; <b>MAINTENANCE</b></a>
                     <a class="list-group-item color" href="../video.html">&nbsp; <b>VIDEO TURORIAL</b></a>      
                </div>
              </ul>
            </div>
          </div>
      

            <div class="col-md-9  col-xs-9">
                
               <div class="panel panel-default">
      <div class="panel panel-heading" style="text-align: center;"><h3><b>MOPED THROTTLE</b></h3></div>
      <div class="panel-body">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
         <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img class="center" src="../../assets/img/moped1.jpg"  style="width:50%;">
          </div>

          <div class="item">
            <img class="center" src="../../assets/img/moped2.jpg"  style="width:50%;">
          </div>
        
          <div class="item">
            <img class="center" src="../../assets/img/moped3.jpg"   style="width:50%;">
          </div>
        
        </div>



    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>

 <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">HOW TO'S</button>
</p>
<div class="row">

  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
       <div class="btn-group">
        <a class="btn btn-default" href="throttle.html"><img src="../../assets/img/throttle.png" width="100"><br>Throttle</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="wiring.html"><img src="../../assets/img/plug.png" width="100"><br>Electric / Wiring</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="suspension.html"><img src="../../assets/img/suspensions.png" width="100"br ><br>Suspension</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="chain.html"><img src="../../assets/img/chain.png" width="100"><br>Chain</a>
      </div>
    </div>
  </div>
</div>

 
    <img class="center" src="../../assets/img/throttle.JPG" style="object-fit: cover; height: 70%; width: 100%;">
          <br>
         <b>How to Fix and Adjust Motorcycle Throttle Cables</b> 
          <p>Motorcycle throttle cables consist of two steel cables that run from the grip of the throttle to the engine, to open and close the carburetor. Drivers use these two cables, the front cable and the idle-hand throttle cable, to accelerate the bike, just like a pedal is used to accelerate a car. Because these cables are so important to a motorcycle’s function, it’s important to know how to adjust and fix them when they stick. Learn how to below.</p>

<b>Step 1 – Lift the Motorcycle</b>
<p>First, put the motorcycle onto a lift so that it stands flat on the ground. Completing this step is important for viewing and safety purposes.</p>
<b>Step 2 – Loosen Cables</b>
<p>Use wrenches on the adjusters to loosen the throttle cables. The adjusters look like steel nuts around the cables. Back the screws all the way out.</p>
<b>Step 3 – Remove Switch Housing</b>
<p>The switch housing looks like a black box on the handlebar. Use a socket wrench with the appropriate bit to unscrew the bolt located underneath the switch housing. Once the bolt is out, put it into a safe place, and open up the switch-housing box.</p>

<b>Step 4 – Apply Lube</b>
<p>Next, apply a lubricant made for throttle cables into the cable end. You can find these lubricants online or at any after-market stores or motorcycle dealerships. Squeeze a few drops into the front cable and the idle-hand throttle cable located behind it.</p>
<b>Step 5 – Attach the Switch Housing</b>
<p>Re-attach the switch-housing box with the socket wrench. Then, open the throttle all the way.</p>
<b>Step 6 – Level out the Carburetor</b>
<p>With the throttle open all the way, adjust the throttle cable closest to the bike all the way out. As it is close to being all the way out, keep adjusting it until the butterfly on the carburetor or intake manifold is completely level.</p>
<b>Step 7 – Test Your Work</b>
<p>Finally, take the bike off the lift and put it on its kickstand. Turn the handlebars all the way to the left, and then open the throttle all the way. The throttle should snap back, making an audible snapping noise. Repeat this test by turning the handlebars all the way to the right, then to the center, both times opening the throttle and listening for a snap.
If it does not snap back, adjust the throttle cable a little bit more until it successfully snaps. Because they are necessary to safely ride your motorcycle, replace your cables immediately if one is broken or needs to be repaired.</p>


      <b>THROTTLE</b>
<b>Checking the throttle grid operation</b>
<b>Check:</b>
<p>• Throttle cable</p>
<p>• Damage / deterioration / replace</p>
<p>• Throttle cable installation</p>
<b>Check:</b>
<p>• Throttle  grip movement</p>
<p>• Rough movement lubricate</p>
<p>• Replace the defective parts</p>
<b>Tip with the Engine stopped, turn the throttle grip slowly and release it. Make sure that the throttle the grip turn smoothly and return properly when released.
Repeat this check the handlebar turned all the way to the left and right.</b>




    </div>
    </div>



            </div>
          </div>
      </div>



</body>
</html>      

