 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Motorcycle Maintenance Repair</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="../../assets/css/custom.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  
    <div class="navbar navbar-light navbar-static-top bg">
      <div class="container">
          <div class="navbar-header">
   
             <a href="index.html" class="navbar-brand navhead" ><span><img src="../../assets/img/motor.png" width="30"></span><b  style=" font-size: 20px;">&nbsp;  <font color="black">MOTORCYCLE MAINTENANCE</font></b></a>
          </div>

      

      </div>
    </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-sm-3 ">      
              <div class="sidenav  navbar-collapse"> 
                <ul class="nav flex-column">
                  <div class="list-group">
                   <a class="list-group-item color" href="../../index.html">&nbsp; <b>MAIN MENU</b></a>
                    <a class="list-group-item color" href="../quickfix.html">&nbsp; <b>QUICKFIX</b></a>
                   <a class="list-group-item color" href="../maintenance.html">&nbsp; <b>MAINTENANCE</b></a>
                    <a class="list-group-item color" href="../video.html">&nbsp; <b>VIDEO TURORIAL</b></a> 
                </div>
              </ul>
            </div>
          </div>
      

            <div class="col-md-9  col-xs-9">
                
               <div class="panel panel-default">
      <div class="panel panel-heading" style="background-color:  lightgray; text-align: center;"><h3><b>MOPED WIRING</b></h3></div>
      <div class="panel-body">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
           <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img class="center" src="../../assets/img/moped1.jpg"  style="width:50%;">
          </div>

          <div class="item">
            <img class="center" src="../../assets/img/moped2.jpg"  style="width:50%;">
          </div>
        
          <div class="item">
            <img class="center" src="../../assets/img/moped3.jpg"   style="width:50%;">
          </div>
        
        </div>



    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>

   <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">HOW TO'S</button>
</p>
<div class="row">

  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
       <div class="btn-group">
        <a class="btn btn-default" href="throttle.html"><img src="../../assets/img/throttle.png" width="100"><br>Throttle</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="wiring.html"><img src="../../assets/img/plug.png" width="100"><br>Electric / Wiring</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="suspension.html"><img src="../../assets/img/suspensions.png" width="100"br ><br>Suspension</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="chain.html"><img src="../../assets/img/chain.png" width="100"><br>Chain</a>
      </div>
    </div>
  </div>
</div>


 
    <img class="center" src="../../assets/img/wiring.gif" style="object-fit: cover; height: 70%; width: 100%;">
            <br>
            <p><b>Motorcycle wiring</b> tends to be the biggest setback for many people. Wether you like adding new accessories to your bike or even try tackling your own motorcycle electrical issues. In this post, I want to give you all some of my BEST motorcycle wiring tips and tricks when it comes to making sure that your motorcycles connectors, splicing techniques, and wired connections are clean and reliable.
            I also want to give you all some pointers that I’ve gained over the years to finding potential problems throughout your motorcycles wiring.</p>

            <b>Motorcycle Wiring: Basic Principles You May Not Know</b>
            <p>Most motorcycle wiring problems are commonly found in two areas..</p>

            <b>– Harness Connections:</b>
            <p>This is where your motorcycle’s electrical components join together in a verity of different ways. From multiple pin-out connectors to male/female bullet connectors and simple male/female blade connectors, over time these all can develop issues is their own special ways.</p> 
             <img class="center" src="../../assets/img/wiring1.JPG" style="object-fit: cover; height: 70%; width: 100%;">
             <br>
             <b>– Grounding Breaks/Shorts or Bad Connections ( Bad Grounds):</b>
             <p>Ground issues in any circuit can be the most frustrating problem to find. There are so many different loads (light bulbs, switches, signal components…etc) that may share the same ground that when a problem arises, the circuit can take on a mind of its own. Give false readings, fail to function, intermittent problems, and even just flat out catch on fire. Although, I can say some for some bikes a fire is exactly what is needed. All because of these stupid grounds!</p>
              <img class="center" src="../../assets/img/wiring2.JPG" style="object-fit: cover; height: 70%; width: 100%;">
              <br>
               <p><b>– Dielectric Grease:</b>  DOES NOT HELP with terminal contact points within harness connectors. So globing this paste deep inside of your multi-pin connectors can actually do more harm then good. Dielectric grease is designed to be placed on the exterior/interior of connector walls to keep moister, water, dirt from entering into the connection. You would think it would do the same when placed directly onto male/female terminals but this is a myth. It can actually cause higher resistance in some cases as well as a poor connection.</p>
               <p> <b>–  New Accessory Instructions:</b> Just because the instructions tell you to wire their parts straight to the battery’s positive and negative terminals does not mean that is the only way to wire it. After a while, those extra connectors hooked straight to the battery not only look hideous, but in some cases can cause shorts or most commonly loosen the battery cables leaving you stranded on your next gas fill up.</p>

               <p> <b>– Battery cables:</b> I think I could argue that loose battery terminals or issues within the cables themselves are the single most overlooked issue on a motorcycle. I can’t tell you how many times I have solved funky electrical issues by simply tightening the battery cables. ESPECIALLY on the CBR family of bikes. Besides taking the steps to check these connections FIRST before diving headfirst into an electrical issue. My advice for you all is no matter how hard it is, fight the urge to USE A PHILLIPS HEAD SCREW DRIVER TO PUT THE FINAL TIGHTEN ON YOUR TERMINAL BOLT. That’s right, bust out that 8 or 10mm socket wrench and really give it a turn. If you can move the cables in any way then they are loose and it WILL cause a problem.</p>
               <img class="center" src="../../assets/img/wiring3.JPG" style="object-fit: cover; height: 70%; width: 100%;">
               <br>
               <p>You can wrap multiple ground wires into one single connector and mount it to a clean frame ground by simply placing it under a (paint-less metal) component mounting bolt.
                Keep it clean, keep it professional… Don’t be that guy.
              </p>

              <b>Why Your Wiring Connections Will fail</b>
              <p>Overtime motorcycle wiring connectors/connections can fail for many reasons, here are some common ones.</p>
              <p>– Heat (Not properly insulated, too close to high temp parts)</p>
              <p>– Tension (Bad wire routing)</p>
              <p>– High resistance (Caused by loose connections, contaminants, oxidation, etc)</p>
              <p>– Rust (Any kind of surface build up over time)</p>
              <p>– Moister/water/mud (Pressure washing to close to connections, outdoor stored bikes, Off-road use)</p>
              <p>– Movement (Could be as simple a turning the handle bar, or sitting on your seat)</p>
              <p>– Operator error (Pulling on cables to disconnect connectors, probing straight into a wire when testing)</p>
              <p>– Cheap connection repairs ( solder-less wire repairs, incorrect bare wire mending)</p>
              
              

              <strong>CHECK:</strong>
              <p>1.  Main Fuse</p>
              <p>2.  Battery</p>
              <p>3.  Main Switch</p>
              <p>4.  Wiring Connection of the entire signaling system</p>

              <p>• Splug or spark plug gap clearance 0.6 ~ 0.7 mm</p>
              <p>• Remove the Spark plug cap and check spark plug cap resistance 3.75 – 6.25 K Ω</p>
              <p>• Primary coil resistance 2.16 ~ 2.64 23 Ω</p>
              <p>• Secondary coil resistance 8.64 ~ 12.96 Ω</p>
                <br>  
            <strong>CHECK:</strong> 
            <p> Electrode damage /wear replace the spark plug</p>
            <p>• Insulator color – replace the spark plug normal color medium to light</p>
            <p> • Clean spark plug  with a spark plug cleaner or wire brush</p>



    </div>
    </div>



            </div>
          </div>
      </div>



</body>
</html>      

