 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Motorcycle Maintenance Repair</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="../../assets/css/custom.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  
    <div class="navbar navbar-light navbar-static-top">
      <div class="container">
          <div class="navbar-header">
   
             <a href="index.html" class="navbar-brand navhead" ><span><img src="../../assets/img/motor.png" width="30"></span><b  style=" font-size: 20px;">MOTORCYCLE MAINTENANCE</b></a>
          </div>

      

      </div>
    </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-sm-3 ">      
              <div class="sidenav  navbar-collapse"> 
                <ul class="nav flex-column">
                  <div class="list-group">
                   <a class="list-group-item color" href="../../index.html">&nbsp; <b>MAIN MENU</b></a>
                   
                  <a class="list-group-item color" href="../quickfix.html">&nbsp; <b>QUICKFIX</b></a>
                  <a class="list-group-item color" href="../maintenance.html">&nbsp; <b>MAINTENANCE</b></a>
                  <a class="list-group-item color" href="../video.html">&nbsp; <b>VIDEO TURORIAL</b></a>     
                </div>
              </ul>
            </div>
          </div>
      

            <div class="col-md-9  col-xs-9">
                
               <div class="panel panel-default">
      <div class="panel panel-heading" style="text-align: center;"><h3><b>SCOOTER TIRE</b></h3></div>
      <div class="panel-body">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img class="center" src="../../assets/img/scooter1.jpg"  style="width:50%;">
          </div>

          <div class="item">
            <img class="center" src="../../assets/img/scooter2.jpg"  style="width:50%;">
          </div>
        
          <div class="item">
            <img class="center" src="../../assets/img/scooter3.jpg"   style="width:50%;">
          </div>

          <div class="item">
            <img class="center" src="../../assets/img/scooter4.jpg"  style="width:50%;">
          </div>
        
        </div>



    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>

  <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">HOW TO'S</button>
</p>
<div class="row">

  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
       <div class="btn-group">
        <a class="btn btn-default" href="tire.html"><img src="../../assets/img/tire.png" width="100"><br>Tire</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="wiring.html"><img src="../../assets/img/plug.png" width="100"><br>Electric / Wiring</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="brake.html"><img src="../../assets/img/brake.png" width="100"br ><br>Brake</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="suspension.html"><img src="../../assets/img/suspensions.png" width="100"><br>Suspension</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="fb.html"><img src="../../assets/img/fanbelt.png" width="100"><br>Fanbelt and Flyball</a>
      </div>
    </div>
  </div>
</div>




 
    <img class="center" src="../../assets/img/tire1.JPG" style="object-fit: cover; height: 70%; width: 100%;">
            <br>
          <img class="center" src="../../assets/img/tire2.JPG" style="object-fit: cover; height: 70%; width: 100%;">
            <br>  
         <b>How to Change Your Scooter Tires</b>
         <p>Many people might assume that changing scooter tires is difficult. However, this is not true. Changing a tire on a scooter can be quiet simple if you have the proper and right tools with the basic knowledge of how to use those tools.</p><br>
         <b>Step 1 - Wheel Nuts</b>
         <p>Locate the wheel nuts and remove them. You can then twist the wheel off the scooter’s body. However, always remember the way from where the tire came off, because you would require putting it in the same way you removed.</p>

         <b>Step 2 - Valve Stem</b><br>
         <p>Locate the valve stem and press it. Make sure that you press it inwards in order to remove all the air from the tube. Once this is done, make sure to remove the wheel nut from the valve stem.</p>

          <b>Step 3 - Separation of Bead </b><br>
         <p>You then need to separate the bead of the tire by just pushing it away from the rim of the tube. When this step is performed, all that you are required is to insert the tire iron right near the valve stem.</p>

          <b>Step 3 - Separation of Bead </b><br>
         <p>You then need to separate the bead of the tire by just pushing it away from the rim of the tube. When this step is performed, all that you are required is to insert the tire iron right near the valve stem.</p>

          <b>Step 4 - Breaking off</b><br>
         <p>Break the beads and hold the first tire iron, inserting the second one as close to the first. Open up a piece of tire and move the second tire iron far away from the first one.</p>

          <b>Step 5 - Opening</b><br>
         <p>Once you have opened up the tire as much as you can, take hold of the second tire iron and insert it right under the rim on the other side. Make sure that you utilize both the tire irons to lift the tire completely off the rim.</p>

         <b>Step 6 - Placing the Tire</b><br>
         <p>Put the tire back on the rim. Thus, place the tire over the rim’s edge and open one side of the tire on with the first tire iron, utilizing the second tire iron to hold the tire in its right place. Also, do not forget to insert the tube, and also make sure to put the valve stem through the rim’s hole.</p>

         <b>Step 7 - Push the Rim</b><br>
         <p>Just push the rim towards the center of the tire. But also be careful, not to catch the tube right between the two. And always, utilize the tire iron to open up the tire over the side of the rim. Do not forget to reinstall everything that you had removed to get the tire off. If you need to fix a flat tire, perform all the steps mentioned above. Some scooters require the tire to be removed from the rim, while others do not. Also, make sure while riding on your new tire. It can definitely be more polished than usual because of the thin coating which is done for molding. Thus, you should be easy on the tire for a while so that it is able to get some heat onto it.</p>

         <b>TIRE PRESSURE</b><br>
         <p>• Tire type with tube (Ex. Size front tire 70/90-14 M/C 34P)</p>
          <p>• Tire pressure (cold tire) 200 KPA (2.00 KGF/CM2 28 PSI)</p>
          <p>• Rear tire. Tire type with tube (Ex. 80/90 – 14 M/C 40P)</p>
          <p>• Tire pressure (cold tire) 225 KPA (2.25 KGF/CM2 32</p> 

      



    </div>
    </div>



            </div>
          </div>
      </div>



</body>
</html>      

