 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Motorcycle Maintenance Repair</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="../../assets/css/custom.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  
    <div class="navbar navbar-light navbar-static-top">
      <div class="container">
          <div class="navbar-header">
   
         <a href="index.html" class="navbar-brand navhead" ><span><img src="../../assets/img/motor.png" width="30"></span><b  style=" font-size: 20px;">MOTORCYCLE MAINTENANCE</b></a>
          </div>

      

      </div>
    </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-sm-3 ">      
              <div class="sidenav  navbar-collapse"> 
                <ul class="nav flex-column">
                  <div class="list-group">
                   <a class="list-group-item color" href="../../index.html">&nbsp; <b>MAIN MENU</b></a>
                   
                  <a class="list-group-item color" href="../quickfix.html">&nbsp; <b>QUICKFIX</b></a>
                   <a class="list-group-item color" href="../maintenance.html">&nbsp; <b>MAINTENANCE</b></a>
                    <a class="list-group-item color" href="../video.html">&nbsp; <b>VIDEO TURORIAL</b></a>
                         
                         
                </div>
              </ul>
            </div>
          </div>
      

            <div class="col-md-9  col-xs-9">
                
               <div class="panel panel-default">
      <div class="panel panel-heading" style="text-align: center;"><h3><b>GAS</b></h3></div>
      <div class="panel-body">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
               <div class="carousel-inner">
          <div class="item active">
            <img class="center" src="../../assets/img/maintain1.jpg"  style="width:50%;">
          </div>

          <div class="item">
            <img class="center" src="../../assets/img/maintain2.jpg"  style="width:50%;">
          </div>
        
          <div class="item">
            <img class="center" src="../../assets/img/maintain3.jpg"   style="width:50%;">
          </div>
        

          <div class="item">
            <img class="center" src="../../assets/img/maintain4.jpg"   style="width:50%;">
          </div>
        </div>




    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>

   <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">HOW TO'S</button>
</p>
<div class="row">

  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
       <div class="btn-group">
         <a class="btn btn-default" href="oilbatt.html"><img src="../../assets/img/battery.png" width="100"><br>Oil / Battery</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="pc.html"><img src="../../assets/img/clean.png" width="100"><br>Proper Cleaning</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="tirepressure.html"><img src="../../assets/img/tirepressure.png" width="100"br ><br>Tire pressure</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="gas.html"><img src="../../assets/img/gas.png" width="100"><br>Gas</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-default" href="tune-up.html"><img src="../../assets/img/tuneup.png" width="100"><br>Tune-up</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-default" href="fi.html"><img src="../../assets/img/fi.png" width="100"><br>FI- Cleaning</a>
    </div>
  </div>
</div>

	<img class="center" src="../../assets/img/tank.jpg" style="object-fit: cover; height: 70%; width: 100%;">
        
        <b>How to Clean Motorcycle Fuel Tanks</b>
        <p>There will be occasions when you’ll need to clean out your motorcycle fuel tank. If your bike has been sitting for a long time without being started, for instance, there could be a build up of debris in the motorcycle fuel tank. Cleaning it out properly will ensure that no harmful materials get into your engine to damage it. Maintenance will also prevent clogging in the fuel lines.</p>

<b>Step 1 - Cleaning Rust</b>
<p>The best way to clean rust out of the fuel tank is to do so manually with the tank taken off the bike. You’ll need a handful of ball bearings and half a gallon of diesel. Make sure you use diesel and not regular gas for this task. Shake the tank vigorously with all the hoses blocked off and the fuel cap on.</p>

<p>The diesel works in a different way to gas as the rust particles will be suspended in it, making it easier to dump them out later. Be aware that it can take quite a lot of shaking in order to fully clean out the motorcycle fuel tank. The effort, however, will be more than worthwhile.</p>

<b>Step 2 - Flushing the Tank</b>
<p>When you flush the tank out prior to putting it back on the bike, use gasoline instead of diesel. Before you do this, however, shake the tank to be certain you’ve got all the ball bearings out. Failure to do so will mean you’ll end up with a blocked or clogged fuel line.</p>

<p>Make sure you don’t have any open flames around when flushing the tank and don’t smoke any cigarettes. Gasoline is extremely flammable and you don’t want to set your fuel tank on fire. A little care can go a long way.</p>

<b>Step 3 - Removing the Tank</b>
<p>There are a number of basic techniques for removing a motorcycle fuel tank and if you follow them thoroughly, you’ll manage the task quite easily. Much depends on the make of your motorcycle but you’ll definitely need to drain the tank first to avoid gasoline spilling all over the place and over you.</p>

<p>With the tank drained, take care to unhook the gas lines or vacuum lines from the motorcycle fuel tank. Knowing what components are on your bike will make this a lot easier. See if your motorcycle also comes with fuel valves that are linked to the gas tank. If there are any, remove them before you begin work on cleaning the motorcycle fuel tank. The same applies to the low fuel sensor although not all bikes have these.</p>

<b>Step 4 - Blocking the Tank</b>
<p>Your motorcycle fuel tank needs to be well blocked before you put in the ball bearings and the diesel. The best way to manage this is to put short lengths of hose over all of the openings and use heavy clamps to block off the ends of the hoses. Make sure they’re all tightly blocked, or the gasoline and ball bearings will just spill out.</p>

<b>Step 5 - Replacing the Tank</b>
<p>When you replace the tank prior to filling it, ensure all the hose, valves, and sensors are properly fitted and that the hoses are tightly secured. If they’re not, it could lead to gasoline dripping onto a hot engine which could cause a fire.</p>

<p>By following these simple steps, you will be able to clean your motorcycle's fuel tank in no time.</p>
    </div>
    </div>



            </div>
          </div>
      </div>



</body>
</html>      

